.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 3fr 100px;
    grid-template-areas: 
    "header header header"
    "sidebar main-content panel"
    "footer footer footer"
    ;
    gap: 10px;
}

.header{grid-area: header; border-style: solid;background-color: aqua;}
.sidebar{grid-area: sidebar;border-style: solid;background-color: azure;}
.main-content{grid-area: main-content;border-style: solid;background-color: bisque;}
.footer{grid-area: footer;border-style: solid;background-color: beige;}