.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 4fr 50px;
    grid-template-areas: 
    "header header header"
    "sidebar main-content panel"
    "footer footer footer"
    ;
    gap: 5px;
    
}

.header{
    grid-area: header; 
    border-style: solid;
    background-color: aqua;
    text-decoration: none;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo nav search user"
    ;
    gap:10px;
}
.sidebar{grid-area: sidebar;border-style: solid;background-color: azure;}
.main-content{grid-area: main-content;border-style: solid;background-color: bisque;}
.footer{grid-area: footer;border-style: solid;background-color: beige;}
.menu{
    display: flex;
}